RewriteEngine On

RewriteRule ^api/activity$ api/activity/index.php [NC,QSA,L]
RewriteRule ^api/activity/([0-9]+)$ api/activity/index.php?id=$1 [NC,L]
RewriteRule ^api/activity/category$ api/activity/category.php [NC,L]
RewriteRule ^api/activity/register$ api/activity/register.php [NC,L]
RewriteRule ^api/activity/search/([0-9a-zA-Z:+]+)$ api/activity/search.php?key=$1 [NC,QSA,L]

RewriteRule ^api/volunteer/login$ api/volunteer/login.php [NC,L]
RewriteRule ^api/volunteer/register$ api/volunteer/register.php [NC,L]
RewriteRule ^api/volunteer/change-password$ api/volunteer/change_password.php [NC,L]
RewriteRule ^api/volunteer/profile/([0-9]+)$ api/volunteer/profile.php?id=$1 [NC,L]
RewriteRule ^api/volunteer/history/([0-9]+)$ api/volunteer/history.php?id=$1 [NC,L,QSA]
RewriteRule ^api/volunteer/change-password-2$ api/volunteer/change_password-2.php [NC,L]
RewriteRule ^api/volunteer/profile-2/([0-9]+)$ api/volunteer/profile-2.php?id=$1 [NC,L]
